<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" type = "text/css" href="//fonts.googleapis.com/css?family=Open Sans">
</head>
<body>
<div class ="header">
  <div class="title">
    <h1>_ARCHITEKT</h1>
    <div class="headerIntro">
      Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovation steps. This is the Architekt theme.
    </div>
    {{> navbar}}
  </div>
</div>



{{{body}}}
</body>
</html>