<h1>Create an account with us!</h1>
<form action="/gallery/newUser" method="POST">
  Username: <br>
  <input type="text" placeholder="username" name="username"><br>
  Password: <br>
  <input type="password" name="password"> <br>
  <input type="submit" value="Create User">
</form>